/**
 * Metropolis
 */
@font-face {
  font-family: 'Metropolis';
  src: url('./Metropolis-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./Metropolis-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./Metropolis-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./Metropolis-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./Metropolis-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./Metropolis-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./Metropolis-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./Metropolis-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./Metropolis-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

/**
 * LibreFranklin
 */
@font-face {
  font-family: 'LibreFranklin';
  src: url('./LibreFranklin-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./LibreFranklin-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./LibreFranklin-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./LibreFranklin-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./LibreFranklin-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./LibreFranklin-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./LibreFranklin-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./LibreFranklin-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./LibreFranklin-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
